---
import Layout from '../layouts/Layout.astro';
const title = '关于我';
const skills = ['css', 'html', 'vue', 'react', 'typeScript'];
const cookie = Astro.cookies.get('counter')?.number();
---

<Layout title="关于我">
  <main>
    <h1>{title}</h1>
    <h2 class="text-black black:text-white">cookie Counter from homepage= {cookie}</h2>

    <h1 is:raw>is:raw {title}</h1>

    <h2>……和我的新 Astro 网站！</h2>
    <section>
      <h3>skills</h3>
      <ul>
        {
          skills.map((skill, i) => (
            <li class="skill" style={{'--i': i + 1}}>
              {skill}
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style define:vars={{skillIndex: skills.map((s, i) => i + 1)}}>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #333;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  li.skill {
    color: hsl(calc(var(--i) * 30 + 80), 90%, 50%);
    font-weight: bold;
  }
</style>
