---
import Layout from '@/layouts/Layout.astro';

import {GET as HelloGet} from '@/pages/api/hello';
// API 可以通过url访问，也可以调用， 传入Astro全局对象来提供上下文
let helloRes = await HelloGet(Astro);
const helloData = await helloRes.json();

import FeedbackForm from '@/components/FeedbackForm.tsx';
---

<Layout title="API">
  <article class="prose lg:ml-56 md:ml-40 my-2">
    <h1>测试使用API端点</h1>

    <figure>
      <figcaption>api/hello</figcaption>
      {JSON.stringify(helloData)}
    </figure>
    <figure>
      <figcaption>feedback</figcaption>
      <FeedbackForm client:load />
    </figure>
  </article>
  <ul>
    <li>apple</li>
    <li>banana</li>
    <li>orange</li>
  </ul>
</Layout>
