---
const platform = 'github';
const username = 'shawspring';
---

<hr class="my-8" />
<footer class="py-4 pl-56 min-h-24 bg-neutral-200 ring-1">
  <p>
    Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}
      >{platform}</a
    >!
  </p>
</footer>
